*{
box-sizing: border-box;
  
    
}
body{
    border:1px solid black; 
}
header{
    width:100%;
    height: 80px;
}
.container{
     background-color:cadetblue;
    width: 100%;
   line-height:80px;
    padding-right: 15px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    border:1px solid black; 
}
.header_left{
   display:block;
    margin:10px;
}
.header_right{
    display:block;
    float:right;
    width:50%;
    margin-left:10px;
}
img{
    width:100px;
    float:left; 
    margin-right: 56%;
}
nav a{
    margin-left:20px;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
    color: white;
    
}
a:hover{
    
    font-size: 1.5em;
}

/*footer*/
footer{
    margin-top:61px;
    /*overflow:hidden;*/
    font-style:italic;
    font-weight: bold;
    height:110px;
    padding:2px 0px 9px 0px;
    display: block;
     background-color:cadetblue;
    
    
}

span{
    color:white;
}
#foot{
    font-size:1em;
    text-align:center;
    font-style: italic;
    
}
.fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 10%;
    width: 20px;
    height:5px;
    margin-top: 3px;
    display:block;
}
#sign{
    float:right;
    padding-bottom: 15px;
    font-size:1.3em;
    margin-right: 4px;
    margin-bottom:5px;
    display:inline-block;
}
.fa:hover {
  opacity: 0.7;
    
}
.fa-facebook {
 
  color: white;
    padding:5px;
    margin:6px;
    padding-bottom:20px;

}

.fa-twitter {
  
    padding:1px;
    margin-bottom:6px;
  color: white;
    padding-bottom:20px;
    
}
.fa-instagram{
    padding-left:7px;
    padding:5px;
    margin-bottom:6px;
    margin-right:6px;
    color: white;
    padding-bottom:20px;
    
}